.section{
    text-align: center;
}
.section h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #5e17eb;
    margin-bottom: 15px;
}
.chat__member {
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat__member main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single_chat_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px;
  border-radius: 10px;
  margin-top: 12px;
}

.single_chat_member img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.single_chat_member h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #5e17eb;
}
.single_chat_member h5{

    color: #5e17eb;
    font-size: 14px;
    margin-bottom: 10px;
}

.single_chat_member button {
  background-color: red;
  color: #fff;
  border-radius: 10px;
}
.single_chat_member button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .chat__member main{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
    .chat__member main{
        grid-template-columns: repeat(1, 1fr);
    }
  }
